.main-bg {
  background: linear-gradient(90deg, #1e293b, #2d3e59);
}

.analog_sidebar {
  width: 30px;
  background-color: #405577;
  border-radius: 4px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: flex;
  align-items: center;
  padding: 40px 5px;
  cursor: pointer;
}

.analog_sidebar:hover {
  background-color: #5674a3;
}

.analog_sidebar span {
  position: sticky;
  top: 100px;
}

.transition-100 {
  transition: 100ms;
}

.settings-icon {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #61dafb;
  border-radius: 30px;
  opacity: 0.3;
  transition: 50ms;
  cursor: pointer;
}

.settings-icon:hover {
  opacity: 1;
}

.black-mirror_muted {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.185);
  pointer-events: all;
  z-index: 24;
  user-select: none;
}
