.doc_logo_button {
  user-select: none;
  cursor: pointer;
  font-size: 40px;
  font-family: monospace;
  font-variant: small-caps;
  font-weight: bold;
}

.doc_top_bar {
    height: 50px;
    display: flex;
    background: linear-gradient(294deg, #cbcbcb33, #ffffff);
    width: 100%;
    box-shadow: 0px -10px 20px 0px black;
    align-items: center;
}

.doc_logo_button:hover {
  background-color: #ffe1bd52;
  transition: 50ms;
}

.doc__main {
  background: linear-gradient(#fff1fd, #fffddd);
  height: 100vh;
  width: 100vw;
}
.doc__aside_panel {
  display: flex;
  background-color: #ffffff;
  height: 100%;
  width: 15%;
  border-right: 1px solid #bdbdbd;
  flex-direction: column;
  align-items: center;
}

.doc__aside_panel_button {
  display: flex;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  padding: 20px 0px;
  justify-content: center;
  font-family: math;
  cursor: pointer;
  user-select: none;
}

.doc__aside_panel_button_active {
    display: flex;
    border-bottom: 1px solid #dbdbdb;
    width: 100%;
    padding: 20px 0px;
    justify-content: center;
    font-family: math;
    user-select: none;
    background-color: #ffd7c985;
    font-size: 18px;
}

.doc__aside_panel_button:hover {
  background-color: #e9faff8c;
}

.doc_content_block {
  height: calc(100% - 50px);
  width: 100%;
  padding: 1%;
}